.task {
    align-self: center;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 8px 18px 18px 18px;
    margin-bottom: 20px;
    border-radius: 10px
}

.header-of-task {
    display: flex;
    align-items: baseline;
}


.done-task h2 {
    text-decoration: line-through;
    color: #C0C0C0;
}

.expired-date {
    color: rgb(197, 6, 6);
}

.description-delete {
    display: flex;
    padding-top: 5px;
}

.description-delete button {
    width: 20px;
    height: 20px;
    white-space: nowrap;
    margin-left: 5px;
    align-self: flex-end;
}

.description-delete button:hover {
    background-color: rgba(199, 26, 26, 0.925);
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-left: 100px;
    text-align: center;
    flex-basis: 150px;
}

.menu h3 {
    text-align: center;
    font-size: 25px;
}

#done-button {
    font-family: 'Source Code Pro';
    min-width: 150px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.list-button {
    font-family: 'Source Code Pro';
    min-width: 150px;
    font-size: 15px;
    margin-top: 16px;
    padding: 10px;
}

.hide-done .done-task {
    display: none;
}

form input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

form button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;

}

.disabled:hover {
    box-shadow: none;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: white;
}

.description-delete .go-to-list {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.description-delete .go-to-list:hover {
    background-color: rgb(111, 175, 218);
    color: black;
}

.active button{
    background-color: rgb(111, 175, 218);
}
.tasks{
    width: 100%;
}